body {
	/* Google font loaded in HTML to prevent FOUC in Firefox */
	font-family: "Ubuntu Sans Mono", "Consolas", monospace;
}
.card {
	display: block;
	margin: 1em;
	max-width: 22em;
	text-align: left;
	border: 1px solid;
	padding: 2em;
}
.name {
	font-size: 2em;
	margin-bottom: 1em;
}
.title {
	margin-bottom: 0.3em;
}
.location {
	margin-bottom: 2em;
}
.contacts {
	font-size: 0.9em
}

/* Default(Light) theme */
body {
	color: black;
	background-color: floralwhite;
}
.card {
	background-color: white;
}
a {
	color: brown;
}

/* Dark theme based on OS */
@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: #222;
	}
	.card {
		background-color: #333;
	}
	a {
		color: bisque;
	}
}