body {
	/* Google font loaded in HTML to prevent FOUC in Firefox */
	font-family: "Fira Code", "Consolas", monospace;
}
.card {
	display: block;
	margin: 1em;
	max-width: 22em;
	text-align: left;
	border: 1px solid;
	padding: 2em;
}
.name {
	font-size: 2em;
	margin-bottom: 1em;
}
.title {
	margin-bottom: 0.3em;
}
.location {
	margin-bottom: 2em;
}
.contacts {
	font-size: 1.5em;
}
.contacts svg {
	height: 1em;
	margin-right: .5em;
}

/* Default(Light) theme */
body {
	color: black;
	background-color: lch(94% 5 90);
}
.card {
	background-color: white;
}
a {
	color: lch(50% 5 90);
	text-decoration: none;
}

/* Dark theme based on OS */
@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: lch(10% 0 0);
	}
	.card {
		background-color: lch(20% 0 0);
	}
	a {
		color: lch(80% 10 90);
	}
}